In [1]:
import pandas as pd
import recordlinkage

In [2]:
df1 = pd.read_json("./data.json")

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2774 entries, 0 to 2773
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              2774 non-null   object
 1   url               2774 non-null   object
 2   cpu               2774 non-null   object
 3   os                795 non-null    object
 4   gpu               1688 non-null   object
 5   ram               2774 non-null   object
 6   rom               2774 non-null   object
 7   price             2774 non-null   object
 8   connect           15 non-null     object
 9   screentype        2230 non-null   object
 10  color             2774 non-null   object
 11  front_camera      343 non-null    object
 12  rear_camera       343 non-null    object
 13  battery_capacity  2621 non-null   object
 14  bluetooth         2220 non-null   object
 15  wifi              2078 non-null   object
 16  size              2621 non-null   object
 17  resolution        2348 non-null   object
 18  weight            2774 non-null   object
 19  jack_audio        1823 non-null   object
 20  mobile_network    1798 non-null   object
 21  sim               1879 non-null   object
 22  security          1747 non-null   object
 23  material          415 non-null    object
dtypes: object(24)
memory usage: 541.8+ KB

In [20]:
df2 = df1[0:1000]

In [21]:
df3 = df1[1000:-1]

In [24]:
df2 = df2.reset_index()
df3 = df3.reset_index()

In [25]:
indexer = recordlinkage.Index()
indexer.full()

WARNING:recordlinkage:indexing - performance warning - A full index can result in large number of record pairs.

In [26]:
candidates = indexer.index(df2, df3)
print(len(candidates))

1773000

In [27]:
compare = recordlinkage.Compare()
compare.exact('name', 'name', label='NAME_MOBILE')
compare.exact('rom', 'rom', label='ROM_MOBILE')
compare.exact('ram', 'ram', label='RAM_MOBILE')
compare.exact('color', 'color', label='COLOR_MOBILE')
compare.string('cpu', 'cpu', threshold=0.85, label='CPU_NAME')
features = compare.compute(candidates, df2, df3)

In [54]:
features

          NAME_MOBILE  ROM_MOBILE  RAM_MOBILE  COLOR_MOBILE  CPU_NAME
0   0               0           1           1             1       0.0
    1               0           1           1             0       0.0
    2               0           1           1             0       0.0
    3               0           1           1             1       0.0
    4               0           1           1             0       0.0
...               ...         ...         ...           ...       ...
999 1768            0           0           1             0       1.0
    1769            0           0           1             1       1.0
    1770            0           0           1             0       1.0
    1771            0           0           1             0       1.0
    1772            0           0           1             0       1.0

[1773000 rows x 5 columns]

In [48]:
res = [0] * 1000

In [49]:
# potential_matches = features[features.sum(axis=1) == 5].reset_index()
# potential_matches
for i in range(1000):
    sp = features.loc[i]
    for j in range(1773):
        if sp.loc[j].sum() == 5:
            res[i] += 1

In [52]:
count = 0
for i in range(len(res)):
    if res[i] > 0:
        count += 1

In [53]:
count

258

In [39]:
test = features
test.loc[0]

      NAME_MOBILE  ROM_MOBILE  RAM_MOBILE  COLOR_MOBILE  CPU_NAME
0               0           1           1             1       0.0
1               0           1           1             0       0.0
2               0           1           1             0       0.0
3               0           1           1             1       0.0
4               0           1           1             0       0.0
...           ...         ...         ...           ...       ...
1768            0           0           1             0       0.0
1769            0           0           1             0       0.0
1770            0           0           1             0       0.0
1771            0           0           1             0       0.0
1772            0           0           1             1       0.0

[1773 rows x 5 columns]

In [46]:
test.loc[0].loc[0]

NAME_MOBILE     0.0
ROM_MOBILE      1.0
RAM_MOBILE      1.0
COLOR_MOBILE    1.0
CPU_NAME        0.0
Name: 0, dtype: float64